<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static', path='/styles.css') }}" />
    <title>Momentum Movers</title>
  </head>
  <body>
    <nav class="navbar">
      <div class="navbar__container">
        <a href="#home" id="navbar__logo">Momentum Movers</a>
        <div class="navbar__toggle" id="mobile-menu">
          <span class="bar"></span>
          <span class="bar"></span>
          <span class="bar"></span>
        </div>
        <ul class="navbar__menu">
          <li class="navbar__item">
            <a href="#Legacy" class="navbar__links" id="Legacy-page">Legacy</a>
          </li>
          <li class="navbar__item">
            <a href="#Forex" class="navbar__links" id="Forex-page">Forex</a>
          </li>
          <li class="navbar__item">
            <a href="#Crypto" class="navbar__links" id="Crypto-page">Crpyto</a>
          </li>
        </ul>
      </div>
    </nav>
  </body>
</html>
